@{
    ViewData["Title"] = "Mi Pedido";
}
@model IEnumerable<DbService.Product>
<div class="containerCrudProducts">
    <h2>Mi Pedido</h2>
    <hr />
    <form method="post" action="/Home/Cart">
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover table-bordered" id="productTable" width="100%">
                    <thead>
                        <tr>
                            <th style="width:10%">
                                Nombre
                            </th>
                            <th style="width:20%">
                                Descripcion
                            </th>
                            <th style="width:10%">
                                Precio
                            </th>
                            <th style="width: 40%">
                                Cantidad
                            </th>
                            <th style="width: 20%">
                                Total Producto
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:10%">
                                    @Html.Raw(item.Name)
                                    <input type="hidden" name="Name[]" value="@Html.DisplayFor(modelItem => item.Name)" />
                                </td>
                                <td style="width:20%">
                                    @Html.Raw(item.Description)
                                </td>
                                <td style="width:10%">
                                    @Html.Raw(item.Price.ToString("$#,##0.00"))
                                    <input readonly class="form-control" id="@Html.DisplayFor(modelItem => item.Name)UnitPrice" type="hidden" value="@Html.DisplayFor(modelItem => item.Price)" />
                                </td>
                                <td style="width:40%">
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-12" style="display:flex; align-items:center;font-size:20px">
                                            <input readonly class="form-control" id="@Html.DisplayFor(modelItem => item.Name)Quantity" type="number" 
                                            step="1" style="margin-right:3px" name="Quantity[]" value="0" />
                                        </div>
                                        <div class="col-lg-9 col-xs-12">
                                            <a href="#" class="btn btn-success btn-sm" onclick="UpdateQuantity('@Html.DisplayFor(modelItem => item.Name)Quantity', 1, 'add')">Sumar x1</a>
                                            <a href="#" class="btn btn-success btn-sm" onclick="UpdateQuantity('@Html.DisplayFor(modelItem => item.Name)Quantity', 10, 'add')">Sumar x10</a>
                                            <a href="#" class="btn btn-danger btn-sm" onclick="UpdateQuantity('@Html.DisplayFor(modelItem => item.Name)Quantity', 1, 'delete')">Restar x1</a>
                                            <a href="#" class="btn btn-danger btn-sm" onclick="UpdateQuantity('@Html.DisplayFor(modelItem => item.Name)Quantity', 10, 'delete')">Restar x10</a>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:20%">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:flex; align-items:center;font-size:20px">
                                            $ <input readonly class="form-control" id="@Html.DisplayFor(modelItem => item.Name)TotalPrice"
                                            type="number" step="0.01" style="margin-right:3px" value="0" name="TotalProductPrice[]" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Finalizar Pedido</button>
    </form>
</div>
<script type="text/javascript">
    function UpdateQuantity(id, quantity, accion) {
        var actualQuantity = $('#' + id).val();
        var unitPrice = parseFloat($('#' + id.replace("Quantity", "UnitPrice")).val().replace(',','.'));
        if(accion == 'add'){
            if (parseInt(actualQuantity) + parseInt(quantity) > 0){
                $('#' + id).val(parseInt(actualQuantity) + parseInt(quantity))
                $('#' + id.replace("Quantity", "TotalPrice")).val(((parseInt(actualQuantity) + parseInt(quantity)) * unitPrice).toFixed(2))
                console.log((parseInt(actualQuantity) + parseInt(quantity)), unitPrice)
            }else{
                $('#' + id).val(0)
                $('#' + id.replace("Quantity", "TotalPrice")).val(0);
            }
        }else{
            if (parseInt(actualQuantity) - parseInt(quantity) > 0){
                $('#' + id).val(parseInt(actualQuantity) - parseInt(quantity))
                $('#' + id.replace("Quantity", "TotalPrice")).val((parseInt((actualQuantity) - parseInt(quantity)) * unitPrice).toFixed(2))
            }else{
                $('#' + id).val(0)
                $('#' + id.replace("Quantity", "TotalPrice")).val(0);
            }
        }
    };
</script>